{% load static %}

<!--Site Footer Start-->
<footer class="site-footer">
    <div class="site-footer__top">
        <div class="container">
            <div class="site-footer__top-inner">
                <div class="site-footer__top-left">
                    <div class="site-footer__top-logo">
                        <a href="{% url 'HomeList' %}"><img src="{% static 'assets/images/logo.png' %}" width='55' height='55' alt=""></a>
                    </div>
                    <div class="site-footer__top-title-box">
                        <h3 class="site-footer__top-title">Let's work together just drop me a line - <a
                                href="mailto:info@dynamixwave.com">info@dynamixwave.com</a></h3>
                    </div>
                </div>
                <div class="site-footer__top-right">
                    <div class="site-footer__top-right-social">
                        <a href="https://www.facebook.com/share/1FJA1ddiG8/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@dynamixwave?_t=ZS-8vXnHR4wrI8&_r=1" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://t.me/dynamixwave"><i class="fab fa-telegram" target="_blank"></i></a>
                        <a href="tel:+959768049426"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__middle">
        <div class="site-footer-shape"
            style="background-image: url({% static 'assets/images/shapes/site-footer-shape.png' %})"></div>
        <div class="container">
            <div class="site-footer__middle-inner">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="footer-widget__column footer-widget__about">
                            <h3 class="footer-widget__title">About</h3>
                            <div class="footer-widget__about-text-box">
                                <p class="footer-widget__about-text">Why choose DynamixWave web design and development services?
                                    Because we serve a potent mix of web design & development,
                                    brand strategy, and digital marketing.</p>
                            </div>
                            <ul class="footer-widget__about-contact list-unstyled">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-square-alt"></i>
                                    </div>
                                    <div class="text">
                                        <a href="tel:+959768049426">+ 959-768-049-426</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <a href="mailto:info@dynamixwave.com">info@dynamixwave.com</a>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="text">
                                        <p>66 Broklyn Street New York, USA</p>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="footer-widget__column footer-widget__links clearfix">
                            <h3 class="footer-widget__title">Links</h3>
                            <ul class="footer-widget__links-list list-unstyled clearfix">
                                <li><a href="{% url 'about_list' %}">About Us</a></li>
                                <li><a href="{% url 'about_list' %}">Our Mission</a></li>
                                <li><a href="{% url 'ourteam' %}">Meet the Team</a></li>
                                <li><a href="{% url 'project_list' %}">Our Projects</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'faqs_list' %}">FAQS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="footer-widget__column footer-widget__explore clearfix">
                            <h3 class="footer-widget__title">Explore</h3>
                            <ul class="footer-widget__explore-list list-unstyled clearfix">
                                <li><a href="{% url 'service_list' %}">What We Offer</a></li>
                                <li><a href="{% url 'blog_list' %}">Our Story</a></li>
                                <li><a href="{% url 'blog_list' %}">Latest News</a></li>
                                <li><a href="{% url 'contact' %}">Help Center</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="footer-widget__column footer-widget__newsletter">
                            <h3 class="footer-widget__title">Newsletter</h3>
                            <form class="footer-widget__newsletter-form" action="{% url 'newsletter' %}" method="post">
                                {% csrf_token %}
                                <div class="footer-widget__newsletter-input-box">
                                    <input type="email" placeholder="Email address" name="email">
                                    <button type="submit" class="footer-widget__newsletter-btn"><i
                                            class="far fa-paper-plane"></i></button>
                                </div>
                            </form>
                            <div class="footer-widget__newsletter-bottom">
                                <div class="footer-widget__newsletter-bottom-icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="footer-widget__newsletter-bottom-text">
                                    <p>I agree to all your terms and policies</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-footer__bottom-inner">
                            <div class="site-footer__bottom-left">
                                <p class="site-footer__bottom-text">© Copyrights, 2025 <a
                                        href="{% url 'HomeList' %}">DynamixWave</a></p>
                            </div>
                            <div class="site-footer__bottom-right">
                                <ul class="list-unstyled site-footer__bottom-menu">
                                    <li><a href="{% url '404' %}">Terms & Conditions</a></li>
                                    <li><a href="{% url '404' %}">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Site Footer End-->