{% extends 'base.html' %}
{% load static %}

{% block body %}

<!--Main Slider Start-->
<section class="main-slider">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
            "el": "#main-slider-pagination",
            "type": "bullets",
            "clickable": true
        },
        "navigation": {
            "nextEl": "#main-slider__swiper-button-next",
            "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
            "delay": 5000
        }}'>

        <div class="swiper-wrapper">

            
            {% for slide in homeslider %}
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url('{{ slide.image.url }}');">
                </div>
                
                <div class="main-slider-border"></div>
                <div class="main-slider-border main-slider-border-two"></div>
                <div class="main-slider-border main-slider-border-three"></div>
                <div class="main-slider-border main-slider-border-four"></div>
                <div class="main-slider-border main-slider-border-five"></div>
                <div class="main-slider-border main-slider-border-six"></div>

                <div class="main-slider-shape-1"></div>
                <div class="main-slider-shape-2"></div>
                <div class="main-slider-shape-3"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider__content">
                                <p>Welcome to our digital marketing agency</p>
                                <h2>{{ slide.title }}</h2>
                                <a href="about.html" class="thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}
            
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-pagination" id="main-slider-pagination"></div>
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                <i class="icon-right-arrow icon-left-arrow"></i>Prev
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                Next <i class="icon-right-arrow"></i>
            </div>
        </div>
    </div>
</section>
<!--Main Slider End-->

<!-- Services One Start-->
<section class="services-one">
    <div class="services-one-shape wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"><img
            class="float-bob-x" src="{% static 'assets/images/shapes/services-one-shape.png' %}" alt=""></div>
    <div class="container">
        <div class="services-one__top">
            <div class="row">
                {% for service in ourservice %}
                <div class="col-xl-6 col-lg-6">
                    <div class="services-one__top-left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">our services list</span>
                            <h2 class="section-title__title">{{ service.title }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="services-one__top-text-box">
                        <p class="services-one__top-text">{{ service.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="services-one__bottom">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="list-unstyled services-one__list">
                        {% for sl in ourservicelist %}
                        <li class="services-one__single wow fadeInUp" data-wow-delay="100ms">
                            <div class="services-one__icon">
                                <span>
                                    <img src="{{ sl.icon_image.url }}" alt="" width="70" height="70">
                                </span>
                            </div>
                            <div class="services-one__count"></div>
                            <h3 class="services-one__title"><a href="website-development.html"> {{ sl.name|linebreaksbr }}
                                    </a></h3>
                            <a class="services-one__arrow" href="website-development.html"><span
                                    class="icon-right-arrow"></span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="services-one__find-solutions">
            <div class="row">
                <div class="col-xl-12">
                    <p class="services-one__find-solutions-text">qutiiz services built specifically for your
                        business. <a href="about.html">Find Your Solution</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Services One End -->

<!--Get To Know Start-->
<section class="get-to-know">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="get-to-know__left wow slideInLeft" data-wow-delay="100ms"
                    data-wow-duration="2500ms">
                    <div class="get-to-know__img">
                        <img src="{% static 'assets/images/resources/get-to-know-img.jpg' %}" alt="">
                        <div class="get-to-know__video-link">
                            <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                                <div class="get-to-know__video-icon">
                                    <span class="icon-play-button"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="get-to-know__right">
                    <div class="get-to-know-big-text">Qutiiz</div>
                    <div class="section-title text-left">
                        <span class="section-title__tagline">get to know us</span>
                        <h2 class="section-title__title">We’re ready to grow your business with us</h2>
                    </div>
                    <p class="get-to-know__text-1">We’re committed to delivering the best digital marketing for
                        your businesses</p>
                    <p class="get-to-know__text-2">There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration in some form, simply free text by
                        injected humour, or randomised.</p>
                    <div class="get-to-know__progress">
                        <div class="get-to-know__progress-single">
                            <h4 class="get-to-know__progress-title">Digital marketing</h4>
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="70%">
                                    <div class="count-text">70%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="get-to-know__person">
                        <div class="get-to-know__person-img">
                            <img src="{% static 'assets/images/resources/get-to-know-person-img.jpg' %}" alt="">
                        </div>
                        <div class="get-to-know__person-content">
                            <h2 class="get-to-know__person-name">John Smith</h2>
                            <p class="get-to-know__person-founder">CEO & co Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Get To Know End-->

<!--Brand One Start-->
<section class="brand-one">
    <div class="container">
        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
            "0": {
                "spaceBetween": 30,
                "slidesPerView": 2
            },
            "375": {
                "spaceBetween": 30,
                "slidesPerView": 2
            },
            "575": {
                "spaceBetween": 30,
                "slidesPerView": 3
            },
            "767": {
                "spaceBetween": 50,
                "slidesPerView": 4
            },
            "991": {
                "spaceBetween": 50,
                "slidesPerView": 5
            },
            "1199": {
                "spaceBetween": 100,
                "slidesPerView": 5
            }
        }}'>
        
            <div class="swiper-wrapper">
                {% for partner in ourpartner %}
                <div class="swiper-slide">
                    <img src="{{ partner.image.url }}" alt="">
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</section>
<!--Brand One End-->

<!--Project One Start-->
<section class="project-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">recent projects</span>
            <h2 class="section-title__title">work showcase</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="project-filter style1 post-filter has-dynamic-filters-counter list-unstyled">
                        <li data-filter="all" class="active"><span class="filter-text">All</span></li>
                    {% for c in projectcategories %}
                        <li data-filter="{{c.name}}"><span class="filter-text">{{c.name}}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row filter-layout masonary-layout">
            <!-- {% for pj in projects %}
            <div class="col-xl-3 col-lg-6 col-md-6 filter-item bra photo web">
                
                <div class="project-one__single">
                    <div class="project-one__img">
                        <img src="{{ pj.image.url }}" alt="">
                        <div class="project-one__hover project-one__hover-pl-40">
                            <p class="project-one__tagline">Graphic</p>
                            <h3 class="project-one__title"><a href="project-details.html">{{ pj.name }}</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} -->
            
        </div>
    </div>
</section>

<script>
    const ProjectList = [ {% for project in projects %}
     {
       id: "{{ project.id }}",
       name: "{{ project.name }}",
       category: "{{ project.category }}",
       slug:"{{project.slug}}",
       image:"{{project.image.url}}",
       pj_url:"{{ project.pj_url }}",
     }{% if not forloop.last %}, {% endif %}
   {% endfor %}];


   const ProjectCategories = document.querySelectorAll('.post-filter li');
   let filteredProjects = ProjectList;
   const Projectdiv = document.querySelector(".masonary-layout");
   
   ProjectCategories.forEach((cate,index)=>{
       cate.addEventListener("click",()=>ProjectCategories.forEach((c, index)=>{
               c.classList.remove('active');
               cate.classList.add('active');
               let selector = cate.getAttribute('data-filter');

               if(selector=="all"){
                   filteredProjects = ProjectList;
               }else{
               filteredProjects = ProjectList.filter((project) => {
                   return project.category === selector;
               })}
               ProjectFunction();
           }))
   })
   const ProjectFunction = () => {
       Projectdiv.innerHTML = "";  
       filteredProjects.forEach((project)=>{                
                   const projectcard = document.createElement('div');
                   projectcard.classList.add('col-xl-3','col-lg-6','col-md-6','filter-item','bra','photo', 'web');
                   projectcard.innerHTML = ` <div class="project-one__single">
                   <div class="project-one__img">
                       <img src="${ project.image }" alt="">
                       <div class="project-one__hover project-one__hover-pl-40">
                           <p class="project-one__tagline">${project.category}</p>
                           <h3 class="project-one__title"><a href="${ project.pj_url }">${ project.name }</a>
                           </h3>
                       </div>
                   </div>
               </div>`;
               Projectdiv.append(projectcard);
               })
   }

   ProjectFunction()
</script>

<!--Project One End-->

 <!--Counter One Start-->
 <section class="counter-one">
    <div class="counter-one-shape-1"></div>
    <div class="counter-one-shape-2"></div>
    <div class="counter-one-shape-3"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="list-unstyled counter-one__list">
                    {% for count in counter %}
                    <li class="counter-one__single wow fadeInUp" data-wow-delay="100ms">
                        <div class="counter-one__icon">
                            <span>
                                <img src="{{ count.image.url }}" alt="">
                            </span>
                        </div>
                        <h3 class="odometer" data-count="{{ count.count_number }}">00</h3>
                        <p class="counter-one__text">{{ count.name }}</p>
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Counter One End-->

 <!--Why Choose One Start-->
 <section class="why-choose-one">
    <div class="container">
        <div class="row">
            {% for choose in whychooseus %}
            <div class="col-xl-6 col-lg-6">
                <div class="why-choose-one__left wow fadeInLeft" data-wow-delay="100ms"
                    data-wow-duration="2500ms">
                    <div class="why-choose-one__img">
                        <img src="{{ choose.image_1.url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="why-choose-one__right">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">company benefits</span>
                        <h2 class="section-title__title">{{ choose.title }}</h2>
                    </div>
                    <p class="why-choose-one__text">{{ choose.content }}</p>
                    <div class="why-choose-one__bottom">
                        <div class="why-choose-one__bottom-img">
                            <img src="{{ choose.image_2.url }}" alt="">
                        </div>
                        <ul class="list-unstyled why-choose-one__points">
                            <li>
                                <div class="icon">
                                    <span class="icon-draw-check-mark"></span>
                                </div>
                                <div class="text">
                                    <p>Nsectetur cing elit</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-draw-check-mark"></span>
                                </div>
                                <div class="text">
                                    <p>Suspe ndisse agittis leo</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-draw-check-mark"></span>
                                </div>
                                <div class="text">
                                    <p>Aliquam tristique exe</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-draw-check-mark"></span>
                                </div>
                                <div class="text">
                                    <p>Nisl sit amet tellus</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Why Choose One End-->

<!--Team One Start-->
<section class="team-one">
    <div class="team-one-container">
        <div class="section-title text-center">
            <span class="section-title__tagline">our team members</span>
            <h2 class="section-title__title">Meet expert people</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="team-one__carousel owl-theme owl-carousel">
                    <!--Team One Single-->
                    {% for team in ourteam %}
                    <div class="team-one__single">
                        <div class="team-one__img">
                            <img src="{{ team.image.url }}" alt="">
                        </div>
                        <div class="team-one__content">
                            <a href="{% url 'ourteam_detail' pk=team.id %}">
                                <h4 class="team-one__name">{{ team.name }}</h4>
                                <p class="team-one__title">{{ team.position }}</p>
                            </a>
                        </div>
                        <div class="team-one__hover">
                            <a href="{% url 'ourteam_detail' pk=team.id %}">
                                <h4 class="team-one__hover-name">{{ team.name }}</h4>
                                <p class="team-one__hover-title">{{ team.position }}</p>
                            </a>
                            <div class="team-one__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="{{ team.facebook }}"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--Team One End-->

<!--Testimonial One Start-->
<section class="testimonial-one">
    <div class="testimonial-one__inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="testimonial-one__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">customer feedbacks</span>
                            <h2 class="section-title__title">what they’re talking about company?</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-one__right">
            <div class="testimonial-one__carousel owl-theme owl-carousel">
                <!--Testimonial One Single-->
                {% for feedback in customerfeedback %}
                <div class="testimonial-one__single">
                    <p class="testimonial-one__text">{{ feedback.content }}</p>
                    <div class="testimonial-one__client-info">
                        <div class="testimonial-one__client-img">
                            <img src="{{ feedback.image.url }}" alt="">
                            <div class="testimonial-one__quote">
                                <img src="{% static 'assets/images/testimonial/testimonial-one-quote.png' %}" alt="">
                            </div>
                        </div>
                        <div class="testimonial-one__client-details">
                            <h4 class="testimonial-one__client-name">{{ feedback.name }}</h4>
                            <p class="testimonial-one__client-title">{{ feedback.position }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>

        <div class="owl-theme">
            <div class="owl-controls">
                <div class="custom-nav owl-nav"></div>
            </div>
        </div>

    </div>
</section>
<!--Testimonial One End-->

<!--Qutiiz Ready Start-->
<section class="qutiiz-ready">
    <div class="qutiiz-ready-bg-box">
        <div class="qutiiz-ready-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style="background-image: url({% static 'assets/images/backgrounds/qutiiz-ready-bg.jpg' %})"></div>
    </div>
    <div class="container">
        <div class="qutiiz-ready__inner">
            <div class="qutiiz-ready__icon">
                <span class="icon-wealth"></span>
            </div>
            <h2 class="qutiiz-ready__title">qutiiz is a ready to <span>protect</span> <br> your businesses</h2>
        </div>
    </div>
</section>
<!--Qutiiz Ready End-->

<!--Financial Advice Start-->
<section class="financial-advice">
    <div class="financial-advice-bg"
        style="background-image: url({% static 'assets/images/shapes/financial-advice-shape.png' %})"></div>
    <div class="container">
        <div class="financial-advice__tab-box tabs-box">
            <ul class="tab-buttons clearfix list-unstyled">
                <li data-tab="#business" class="tab-btn"><span>Business Growth</span></li>
                <li data-tab="#financial" class="tab-btn active-btn"><span>Financial Advices</span></li>
                <li data-tab="#soltution" class="tab-btn"><span>marketing soltution</span></li>
            </ul>
            <div class="tabs-content">
                <!--tab-->
                <div class="tab" id="business">
                    <div class="tabs-content__inner">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="tabs-content__left">
                                    <ul class="list-unstyled tabs-content__points">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-draw-check-mark"></span>
                                            </div>
                                            <div class="text">
                                                <h4>Highest Success Rates</h4>
                                                <p>Lorem nibh vel velit a aliqu. Aenean so tudin, lorem is text
                                                    quis bibendum.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-draw-check-mark"></span>
                                            </div>
                                            <div class="text">
                                                <h4>we grow businesses</h4>
                                                <p>Lorem nibh vel velit a aliqu. Aenean so tudin, lorem is text
                                                    quis bibendum.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-7">
                                <div class="tabs-content__right">
                                    <div class="tabs-content__experience-box">
                                        <div class="tabs-content__experience-content">
                                            <div class="tabs-content__experience-icon">
                                                <span class="icon-consulting"></span>
                                            </div>
                                            <h3 class="tabs-content__experience-title">We have over 18 years of
                                                experience</h3>
                                            <a href="about.html" class="tabs-content__experience-btn">Read
                                                More</a>
                                        </div>
                                        <div class="tabs-content__experience-img">
                                            <img src="assets/images/resources/tabs-content-experience-img.jpg"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab active-tab" id="financial">
                    <div class="tabs-content__inner">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="tabs-content__left">
                                    <ul class="list-unstyled tabs-content__points">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-draw-check-mark"></span>
                                            </div>
                                            <div class="text">
                                                <h4>Highest Success Rates</h4>
                                                <p>Lorem nibh vel velit a aliqu. Aenean so tudin, lorem is text
                                                    quis bibendum.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-draw-check-mark"></span>
                                            </div>
                                            <div class="text">
                                                <h4>we grow businesses</h4>
                                                <p>Lorem nibh vel velit a aliqu. Aenean so tudin, lorem is text
                                                    quis bibendum.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-7">
                                <div class="tabs-content__right">
                                    <div class="tabs-content__experience-box">
                                        <div class="tabs-content__experience-content">
                                            <div class="tabs-content__experience-icon">
                                                <span class="icon-consulting"></span>
                                            </div>
                                            <h3 class="tabs-content__experience-title">We have over 18 years of
                                                experience</h3>
                                            <a href="about.html" class="tabs-content__experience-btn">Read
                                                More</a>
                                        </div>
                                        <div class="tabs-content__experience-img">
                                            <img src="assets/images/resources/tabs-content-experience-img.jpg"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab " id="soltution">
                    <div class="tabs-content__inner">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="tabs-content__left">
                                    <ul class="list-unstyled tabs-content__points">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-draw-check-mark"></span>
                                            </div>
                                            <div class="text">
                                                <h4>Highest Success Rates</h4>
                                                <p>Lorem nibh vel velit a aliqu. Aenean so tudin, lorem is text
                                                    quis bibendum.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-draw-check-mark"></span>
                                            </div>
                                            <div class="text">
                                                <h4>we grow businesses</h4>
                                                <p>Lorem nibh vel velit a aliqu. Aenean so tudin, lorem is text
                                                    quis bibendum.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-7">
                                <div class="tabs-content__right">
                                    <div class="tabs-content__experience-box">
                                        <div class="tabs-content__experience-content">
                                            <div class="tabs-content__experience-icon">
                                                <span class="icon-consulting"></span>
                                            </div>
                                            <h3 class="tabs-content__experience-title">We have over 18 years of
                                                experience</h3>
                                            <a href="about.html" class="tabs-content__experience-btn">Read
                                                More</a>
                                        </div>
                                        <div class="tabs-content__experience-img">
                                            <img src="assets/images/resources/tabs-content-experience-img.jpg"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="financial-advice__bottom">
            <p class="financial-advice__bottom-text">qutiiz services built specifically for your business. <a
                    href="about.html">Find Your Solution</a></p>
        </div>
    </div>
</section>
<!--Financial Advice End-->

<!--Blog One Start-->
<section class="blog-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">our blog posts</span>
            <h2 class="section-title__title">News & Articles</h2>
        </div>
        <div class="row">
            {% for blog in blogs %}
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <!--Blog One Start-->
                <div class="blog-one__single">
                    <div class="blog-one__img">
                        <img src="{{ blog.image.url }}" alt="">
                        <a href="{% url 'detail' blog.id %}">
                            <span class="blog-one__plus"></span>
                        </a>
                        <div class="blog-one__date">
                            <p>{{ blog.date|date:"d" }} <br> {{ blog.date|date:"b" }}</p>
                        </div>
                    </div>
                    <div class="blog-one__content">
                        <ul class="list-unstyled blog-one__meta">

                            <li>
                                {% for cat in blog.category.all %}
                                <a href="{% url 'blog_category_filter' cat.id %}"><i class="far fa-folder-open"></i> {{ cat.name }}</a>
                                {% endfor %}
                            </li>

                            <li><a href="blog-details.html"></a>
                            </li>
                        </ul>
                        <h3 class="blog-one__title">
                            <a href="{% url 'detail' blog.id %}">{{ blog.title }}</a>
                        </h3>
                        <div class="blog-one__person">
                            <div class="blog-one__person-img">
                                <img src="assets/images/blog/blog-one-person-img-1.jpg" alt="">
                            </div>
                            <div class="blog-one__person-content">
                                <p>by Admin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>

        <div class="blog-sidebar__load-more text-center">
            <a href="{% url 'blog_list' %}" class="thm-btn blog-sidebar__load-more-btn">load more
                posts</a>
        </div>
    </div>
</section>
<!--Blog One End-->

<!--CTA One Start-->
<section class="cta-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner wow fadeInUp" data-wow-delay="100ms" data-wow-duration="2500ms">
                    <div class="cta-one-shape-1"></div>
                    <div class="cta-one-shape-2"></div>
                    <div class="cta-one-shape-3"></div>
                    <div class="cta-one__left">
                        <h2 class="cta-one__title">the passion trying & skill can make <br> a top-performing
                            company</h2>
                    </div>
                    <div class="cta-one__right">
                        <a href="contact.html" class="cta-one__btn thm-btn">let’s get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA One End-->



{% endblock %}